div.register-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 20px;
}

div.register-container label{
    color: white;
    font-size: 1rem;
}

div.register-container div{
    color: white;
    font-size: 1rem;
}


.register-form-button {
    width: 100%;
    margin-top: 15px;
}

.register-form-button[disabled], .register-form-button[disabled]:hover, .register-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.register-form input {
    margin-bottom: 3px;
}

.back-button {
    top: 0%;
}