div.profile-container {
    color: white;
    height: 44em;
    position: relative;
}

div.profile-container h2, div, svg {
    color: white;
    
}

div.profile-container .menu-btn {
    
    margin-left: 60%;
    
    background-color: transparent;
    color: white;
    
}

div.profile-container .profile-header {
    
}