div.basic-container {
    margin-top: 80px;
}
div.avatar-container {
    margin-top: 80%;
    margin-left: 10%;
}
button.btn-data-show {
    border-radius: 22px;
    /*margin-left: 40%;*/
    background: transparent;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}

button.small-btn {
    font-size: 0.8em;
}

.modal-visible .ant-modal-content{
    color: black;
    background-color: rgba(228, 241, 254, 1)
}
.modal-visible .ant-modal-content div{
    color:black;
}

.modal-visible .ant-modal-content input{
    border-radius: 20px;
}