div.profile-container {
    color: white;
    height: 45em;
    position: relative;
}

div.profile-container h2, div, svg {
    color: white;
    
}

div.profile-container .menu-btn {
    
    margin-left: 60%;
    margin-top: 20%;
    background-color: transparent;
    color: white;
    
}

div.profile-container .profile-header {
    
}

p.notification-profile {
    background-color: #757887;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding-left: 5%;
    border: solid 2px gray;
}